<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<%= form_for @creature do |f| %>
				<div class="form-group">
					<%= f.label :name, "Name", class: "control-label"%>
				    <%= f.text_field :name, class: "form-control" %>
			    </div>
			    <div class="form-group">
				    <%= f.label :description, "Description", class: "control-label"%>
				    <%= f.text_area :description, class: "form-control"%>
			    </div>
			    <div class="form-group">
				    <%= f.submit "save creature", class: "btn btn-success pull-right" %>
			    </div>
			    <%= link_to "Back", "/creatures", class: "btn btn-default btn-sm" %>
			<% end %>
		</div> 
	</div>
</div>